.card {
    transition: all 0.5s ease;
    cursor: pointer;
    box-shadow: 0px 0px 6px -4px rgba(0,0,0,0.75);
    border-radius: 10px;
}

.card:hover{
    box-shadow: 0px 0px 51px -36px rgba(0,0,0,1);
}

.banner-area {
 background-image: url("/img/banner/outdoor.jpeg");   
 background-size: cover;
 background-position: center center;
 top: 100px;
 height: 100vh;
 width: 100%;
 position: fixed;
}

.banner-area-box {
    background-image: url("/img/banner/box.png");   
    background-size: cover;
    background-position: center center;
    top: 100px;
    height: 100vh;
    width: 100%;
    position: fixed;
}

.banner-area-cross {
    background-image: url("/img/banner/crossfit.png");   
    background-size: cover;
    background-position: center center;
    top: 100px;
    height: 100vh;
    width: 100%;
    position: fixed;
}

.banner-area-yoga {
    background-image: url("/img/banner/yoga.png");   
    background-size: cover;
    background-position: center center;
    top: 100px;
    height: 100vh;
    width: 100%;
    position: fixed;
}

.wrapper{
    width: 90%;
    margin: 0 auto;
}
.banner-area:after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: #130f40;
    opacity: .7;
    z-index: -1;
}
.banner-area h2{
    padding-top: 5%;
    padding-left: 30%;
    font-size: 80px;
    color: #fff;
}

.banner-area-box h2{
    padding-top: 5%;
    padding-left: 30%;
    font-size: 80px;
    color: #fff;
}

.banner-area-yoga h2{
    padding-top: 5%;
    padding-left: 30%;
    font-size: 80px;
    color: #fff;
}

.banner-area-cross h2{
    padding-top: 5%;
    padding-left: 30%;
    font-size: 80px;
    color: #000;
}

.content-area {
    width: 100%;
    height: 800px;
    position: relative;
    background: #fff;
    top:550px;
}
.content-area h2{
    font-size: 40px;
    margin: 0;
    padding-top: 30px;
    letter-spacing: 4px;
}
.content-area p {
    padding: 2% 0;
    line-height: 30px;
    text-align: justify;
}
.carousel-item {
    height: 32rem;
    background: #777;
    color: white;
    position: relative;
}

.container-carousel {

    bottom: 10px;
    left: 0;
    right: 0;
}

.customButton {
    background-color: #b78c33;
    border-color: #b78c33;
}

.container{
    margin-top: 10px;
}
.courses {
    background-color: #111;
    width: 100%;    
}

.inner {
    overflow: hidden;
}

.inner img{
    transition: all 1.5s ease;
}

.inner:hover img{
    transform: scale(1.5);
}

.overlay-image {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background-position: center;
    background-size: cover;
    opacity: 0.5;
}

.customIcons{
    height: 10px;
    font-size: 10px;
}
.footer {

    height: 32rem;
    color: black;
}

.span-or {
    display: block;
    position: absolute;
    left: 50%;
    top: -2px;
    margin-left: -25px;
    background-color: #fff;
    width: 50px;
    text-align: center;
}

.hr-or {
    background-color: #cdcdcd;
    height: 1px;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

footer.nb-footer {
    background: #222;
    border-top: 4px solid #b78c33;
}

footer.nb-footer .about {
    margin: 0 auto;
    margin-top: 40px;
    max-width: 1170px;
    text-align: center;
}

footer.nb-footer .about p {
    font-size: 13px;
    color: #999;
    margin-top: 30px;
}

footer.nb-footer .about .social-media {
    margin-top: 15px;
}

footer.nb-footer .about .social-media ul li a {
    display: inline-block;
    width: 45px;
    height: 45px;
    line-height: 45px;
    border-radius: 50%;
    font-size: 16px;
    color: #b78c33;
    border: 1px solid rgba(255, 255, 255, 0.3);
}

footer.nb-footer .about .social-media ul li a:hover {
    background: #b78c33;
    color: #fff;
    border-color: #b78c33;
}

footer.nb-footer .footer-info-single {
    margin-top: 30px;
}

footer.nb-footer .footer-info-single .title {
    color: #aaa;
    text-transform: uppercase;
    font-size: 16px;
    border-left: 4px solid #b78c33;
    padding-left: 5px;
}

footer.nb-footer .footer-info-single ul li a {
    display: block;
    color: #aaa;
    padding: 2px 0;
}

footer.nb-footer .footer-info-single ul li a:hover {
    color: #b78c33;
}

footer.nb-footer .footer-info-single p {
    font-size: 13px;
    line-height: 20px;
    color: #aaa;
}

footer.nb-footer .copyright {
    margin-top: 15px;
    background: #111;
    padding: 7px 0;
    color: #999;
}

footer.nb-footer .copyright p {
    margin: 0;
    padding: 0;
}